* {
    margin: 0;
    padding: 0px;

}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
    font-family: Inter, sans-serif;
    text-align: center;
    color: #232323;
    background-color: #e7e7e7;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 32px;
    margin-bottom: 32px;
}

p {
    justify-content: center;
    max-width: 800px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 600px;
}

div.shader {
    position: relative;
    max-width: 800px;
    margin: 32px;
}

div.shader canvas {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
}

div.shader.loaded img {
    visibility: hidden;
}
